<div class="card">
  <div *ngIf="endpoints.length == 0" class="card-footer" style="border-top: 0;">Well, it looks like you have no endpoints configured. Wanna <button class="btn btn-sm btn-success">create one now</button>?</div>
  <div *ngIf="endpoints.length > 0" class="card-body">
    <div class="card-columns">
      <div *ngFor="let endpoint of endpoints" class="card endpointCard" [ngClass]="{'bg-success text-white': endpoint.selected}" (click)="toggleEndpoint(endpoint)">
        <div class="card-body d-flex">
          <i class="endpointBrand card-img-top flex-shrink-5" [ngClass]="endpoint.brand == 'none' ? 'far fa-question-circle' : 'fab fa-'+endpoint.brand"></i>
          <p class="endpointName w-100">{{endpoint.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>